<%= simple_form_for @business, :html => { :class => 'form-horizontal' } do |f| %>
	<fieldset>
		<%= f.input :biz_name, :label => 'Business Name' %>
		<br>
		<%= f.input :biz_url, :label => 'Business URL' %>
		<p>Users will visit this page to chat with agents.</p>
		<br>
		<%= f.input :existing_biz_url, :label => 'Existing Business URL' %>
		<p>Does your company have an existing website?</p>
		<br>
		<h4>Set Availability of Agents</h4>
		<p>Round Up to Next 15 Minute Interval</p>
		<%= f.input :start_hour, :combined => true, :minute_interval => 15, :time_separator => "" %>
		<%= f.input :end_hour, :combined => true, :minute_interval => 15, :time_separator => "" %>
		<br>
		<%= f.submit :value => 'Create Business'%>
	</fieldset>
<% end %>
