<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <span class="brand" ><%= @admin.business.biz_name %></span>
      <div class="navbar-content">
        <ul class="nav">
          <li>
            <!-- sign out button -->
            <%= link_to 'Sign Out', destroy_admin_session_path, :method => :delete %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="well">
    <div class="row">

      <div class="span4">
        <h3>Welcome <u><%= @admin.first_name %> <%= @admin.last_name %></u></h3>
        <p>Edit information about <b><%= @business.biz_name %></b> on this page.</p>
        <%= link_to(edit_admin_registration_path) do %>
            <button class="btn btn-inverse">
              <span class="white-text">Edit Info</span>
            </button>
        <% end %>
      </div>

      <div class="span1">&nbsp;</div>

      <div class="span3">
        <br>
        <h4>Admin Info</h4>
        <p><b>Email:</b> <%= @admin.email %></p>
        <p><b>Phone:</b> <%= number_to_phone @admin.phone %></p>
      </div>
      <div class="span3">
        <br>
        <h4>Business Info</h4>
        <p><b>Name:</b> <%= @business.biz_name %></p>
        <p><b>Hours:</b> <%= @business.start_hour.strftime("%I:%M %p")%> - <%= @business.end_hour.strftime("%I:%M %p") %></p>
      </div>

    </div>
  </div>

  <div class="row main-features">
    <div class="span4">
      <div class="well" style="height:200px;">
        <h3>Customer Chat Link</h3>
        <p>Give this link to your customers so they can chat with your agents.</p> <br>
        <div  style="font-size:12px; text-align: center;">
          <%= link_to @link, @link %>
        </div>
      </div>
    </div>

    <div class="span4">
      
      <% if @agents.size > 0 %>
      
      <div class="well" style="height:200px;">
        <h3>Organize Agents</h3>
        <p>Here you can manage the agents who chat with customers for your business.</p> <br>
        <div  style="text-align: center;">
          <%= link_to(new_agent_registration_path) do %>
              <button class="btn btn-info">
                <span class="white-text">Add</span>
              </button>
          <% end %> &nbsp;
          <%= link_to(agents_view_all_path) do %>
              <button class="btn btn-info">
                <span class="white-text">View All</span>
              </button>
          <% end %>
        </div>
      </div>
      
      <% else %>
      
      <div class="well" style="height:200px; background-color: #FFFF99; color: black;">
        <h3>Organize Agents</h3>
        <p>Here you can manage the agents who chat with customers for your business.</p> <br>
        <div  style="text-align: center;">
 		  <p>You have not created any agents for your business.  Add agents now.</p>
          <%= link_to(new_agent_registration_path) do %>
              <button class="btn btn-info">
                <span class="white-text">Add</span>
              </button>
          <% end %> &nbsp;
        </div>
      </div>
      
      <% end %>
    </div>

    <div class="span4">
    		
    <% if @phrases.size > 0 %>
    	
      <div class="well" style="height:200px;">
        <h3>Manage Phrases</h3>
        <p>Phrases are a fast and easy way for agents to respond to customers.</p> <br>
        <div  style="text-align: center;">
          <%= link_to(new_phrase_path) do %>
              <button class="btn btn-info">
                <span class="white-text">Add</span>
              </button>
          <% end %> &nbsp;
          <%= link_to(phrases_path) do %>
              <button class="btn btn-info" >
                <span class="white-text">View All</span>
              </button>
          <% end %>
        </div>
      </div>
      
      <% else %>
      
      <div class="well" style="height:200px; background-color: #FFFF99; color: black;">
        <h3>Manage Phrases</h3>
        <p>Phrases are a fast and easy way for agents to respond to customers.</p> <br>
        <div  style="text-align: center;">
        <p>You have not created any phrases for your business.  Add phrases now.</p>
          <%= link_to(new_phrase_path) do %>
              <button class="btn btn-info">
                <span class="white-text">Add</span>
              </button>
          <% end %> &nbsp;
        </div>
      </div>
      
      <% end %>
    </div>

    <div class="span6">

      <h3>Word Cloud</h3>
      <p><b>What are customers chatting about?</b></p> <br>
      <button class="btn btn-info" onclick="javascript: $('#reveal_word_cloud').trigger('click');">Show Word Cloud</button>
      <h3><a id="reveal_word_cloud" href="#" data-reveal-id="word_cloud_modal"></a>
        <br>
      </h3>
      <div id="word_cloud_modal" class="reveal-modal" style="text-align: center;">
        <h3>Word Cloud</h3>
        <p style="color: #000000;"><b>What are customers chatting about?</b></p> <br>
        <img src="<%= @data.body['url'] %>"
             height="<%= @data.body['height'] %>"
             width="<%= @data.body['width'] %>" >
        <a class="close-reveal-modal">&#215;</a>
      </div>

    </div>

    <div class="span6">
      <h3>Chat Service Statistics</h3>
      <p><b>What hour of the day do your customers chat the most?</b></p> <br>
      <button class="btn btn-info" onclick="drawVisualization(<%= @graph %>)">Show Statistics</button>
      <h3><a href="#" id="reveal_graph" data-reveal-id="graph_modal"></a>
        <br>
      </h3>
      <div id="graph_modal" class="reveal-modal" style="text-align: center;">
        <h3>Chat Service Statistics</h3>
        <p  style="color: #000000;"><b>What hour of the day do your customers chat the most?</b></p> <br>
        <div id="graph"></div>
        <a class="close-reveal-modal">&#215;</a>
      </div>

    </div>

  </div>

</div>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load('visualization', '1', {packages: ['corechart']});

</script>

<script src="https://app.divshot.com/js/bootstrap.min.js"></script>