<div class="well">
<h3>Admin</h3>
<%= form_for("admin", :url => admin_session_path) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.submit "Sign in", :class => 'btn btn-primary' %></div>

<% end %>

</div>
