<div class="well">
<h3><span style="color: red;">Agent</span> Sign In</h3>
<%= form_for("agent", :url => agent_session_path) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.submit "Sign in" %></div>
  
  <% if  devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
<% end %>

<%= link_to 'Sign Out', destroy_admin_session_path, :method => :delete %> <br>

<%= render "agents/shared/links" %>
</div>
