<div class="container-fluid">
	<div class="row-fluid" style="text-align: center;">
		<h3>~ Your Company has <%= @phrases.size %> Custom Phrases ~</h3>
	</div>
	
	<div class="row-fluid">
		<div class="span1">&nbsp;</div>
		
		<div class="span10">
			<% if @phrases.size > 0 %>

				<!-- table showing all phrases -->
				<table class="table table-striped">
					<thead>
						<tr>
							<th><u>Phrase</u></th>
							<th></th>
						</tr>
					</thead>
					<!-- loop through phrases -->
					<% @phrases.each do |phrase| %>
		     		<tr> 
						<!-- name -->
						<td><%= phrase.phrase %></td>

						<!-- link to delete the phrase -->
						<td>
						<%= link_to(phrase, { :confirm => "Are you sure?", :method => :delete }) do %>
							<button class="btn btn-danger">
								<i class="icon-trash icon-white"></i>
								<span class="white-text"> Delete</span>
							</button>
						<% end %>
						</td>
					</tr>
					<% end %>
				</table>
				
			<% end %>
		</div>
		
		<div class="span1">&nbsp;</div>
	</div>
	<div class="row-fluid">
		<div class="span1">&nbsp;</div>
		<div class="span11">
			<%= link_to(admin_path(current_admin)) do %>
				<button class="btn btn-primary">
					<i class="icon-home icon-white"></i><span class="white-text"> Home </span>
				</button>
			<% end %>
				&nbsp;
			<%= link_to(new_phrase_path) do %>
				<button class="btn btn-primary">
					<i class="icon-plus-sign icon-white"></i><span class="white-text"> New Phrase </span>
				</button>
			<% end %>
		</div>
	</div>
</div>
