<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">&nbsp;</div>
		<div class="span4" style="text-align: center;">
			<h3>Enter a Phrase</h3>
			
			<%= simple_form_for(@phrase) do |f| %>
			
			    <%= f.input :business_id, :as => :hidden, :input_html => { :value => @business.id } %> <br>
			    <%= f.input :phrase, :label => false, :input_html => { :rows => 5, :cols => 5 } %>
				<br>
			    <%= f.submit %>
			
			<% end %>
			
			<%= link_to(admin_path(current_admin)) do %>
				<button class="btn btn-primary">
					<i class="icon-arrow-left icon-white"></i>
					<span class="white-text">Back</span>
				</button>
			<% end %>
		</div>
		<div class="span4">&nbsp;</div>
	</div>
</div>

<br>
<br>
