<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">&nbsp;</div>
		<div class="span4" style="text-align: center;">
			<h3>Enter a Phrase</h3>
			
			<%= simple_form_for(@phrase) do |f| %>
			
			    <%= f.input :business_id, :as => :hidden, :input_html => { :value => @business.id } %> <br>
			    <%= f.input :phrase, :label => false, :input_html => { :rows => 5, :cols => 5 } %>
				<br>
			    <%= f.submit 'Add Phrase', :class => "btn btn-success" %>
			
			<% end %>
			
			<%= link_to (admin_path(@cur_admin)) do %>
			<button class="btn btn-danger" >
				<span class="white-text">Cancel</span>
			</button>
			<% end %>
		
		</div>
		<div class="span4">&nbsp;</div>
	</div>
</div>

<br>
<br>
