<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">&nbsp;</div>
		<div class="span4" style="text-align: center;">
			<h3>Enter a Phrase</h3>
			
			<%= simple_form_for(@phrase) do |f| %>
			
			    <%= f.input :business_id, :as => :hidden, :input_html => { :value => @business.id } %> <br>
			    <%= f.input :phrase, :label => false, :input_html => { :rows => 5, :cols => 5 } %>
				<br>
			    <%= f.submit 'Save Phrase' %>
			
			<% end %>
			
			<% if url_for(:back).include?('agents/sign_up') %>
				<%= link_to(admin_path(current_admin)) do %>
					<button class="btn btn-primary">
						<span class="white-text">Complete Registration</span>
					</button>
				<% end %>
				<br><br><br>
				<p>You can always add phrases later...</p>
				<p>Click the 'Complete Registration' button to head to your home page.</p>
			<% else %>
				<%= link_to 'Done', %>
              <h4><br><br> You are done! >> &nbsp;
                <%= link_to admin_path(@cur_admin) do %>
                    <button class="btn btn-info" >
                      <span class="white-text">View All Details</span>
                    </button>
                <% end %></h4>
			<% end %>
		</div>
		<div class="span4">&nbsp;</div>
	</div>
</div>

<br>
<br>
