<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"><!-- Collapsable nav bar -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- Your site name for the upper left corner of the site -->
      <a class="brand">Helpr</a>
      
      <!-- Start of the nav bar content -->
      <div class="nav-collapse"><!-- Other nav bar content -->

        <!-- The drop down menu -->
        <ul class="nav pull-right">
          <li><a href="/users/sign_up">Sign Up</a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
              <%= form_for(:agent, :as => :agent, :url => session_path(:agent)) do |f| %>
                  <li>
                    <div class="control-group">
                      <%= f.label :email, :class => "control-label" %>
                      <div class="controls">
                        <%= f.email_field :email %>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="control-group">
                      <%= f.label :password, :class => "control-label" %>
                      <div class="controls">
                        <%= f.password_field :password %>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="control-group">
                      <%= f.label :remember_me, :class => "control-label" %>
                      <div class="controls">
                        <%= f.check_box :remember_me %>
                      </div>
                    </div>
                  </li>
                  <li>
                    <%= f.submit "Sign in", :class => "btn btn-primary" %>
                  </li>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
