

<%= javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js" %>


<script type="text/javascript">
    // Set the globals used by chat.js
    channel = "<%= @chat.channel %>";
    chat_id = "<%= @chat.id %>";
    user_id = "<%= @user.id %>";

</script>


<div class="container">
  <div class="page-header">
    <h1>Welcome to <%= @business.biz_name  %></h1>
  </div>
  <!--<div class="alert alert-info hidden-phone">
    <a class="close" data-dismiss="alert">×</a>
        <span>
          <b>Ready to dive in?</b>&nbsp;Click the page name dropdown in the top left
          and create a new page using the embedded form.</span>
  </div>-->
  <div class="well" id="chat_interface" name="chat_interface" style='text-align:center;'>

    <!--pusher chat stub-->
    <div id="wrapper">
      <div>
        <h2 style="text-align: center;"><%= @business.biz_name %></h2>
        <span id="loading"></span>
      </div>
      <ul id="messages">
        <% @messages.each do |message| %>
            <% user = ChatUser.find(message.user_id) %>
            <li<% if user.id == @user.id %> class="you"<% end %>><strong><%= user.first_name %></strong> said:<br><%= auto_link_urls(message.message, { :target => "_blank" }) %></li>
        <% end %>
      </ul>
      <div id="message-overlay"></div>
      <textarea disabled="disabled" id="message" name="message">Type your message here and hit enter...</textarea>
    </div>
    <!--pusher chat stub-->

    <!--dropbox-->


        <%= form_for Message.new, :remote => true, :url => { :controller => "api", :action => "upload_file" }, :html => { :id => "fileUploadForm", :target => "results" }  do |f| %>

            <div class="controls">
              <%= f.submit "Upload File", :class => "btn btn-primary" %>
              <%= f.file_field :shared_file %>

            </div>
            <input type="hidden" id="chat_id" name="chat_id" value="<%= @chat.id %>" />

        <% end %>


        <a class="btn btn-small btn-danger" href="javascript:endChat('<%= @user.first_name %>', 'customer')"><span class="btn-label">End Chat</span></a>


    <div id="upload_status"></div>

    <iframe src="/assets/uploader.js" width="0" id="results" name="results" height="0" border="0" frameborder="0" scrolling="auto" align="center" hspace="0" vspace=""></iframe>

  </div>

  <!--<p class="text-info lead">While using Divshot, your changes are automatically saved to the server
as you make them so you never have to worry about losing your work.</p>-->

</div>

<script src="https://app.divshot.com/js/bootstrap.min.js"></script>

