<p id="notice"><%= notice %></p>

<p>
  <b>Business:</b>
  <%= @chat.business_id %>
</p>

<p>
  <b>Customer:</b>
  <%= @chat.customer_id %>
</p>

<p>
  <b>Keywords:</b>
  <%= @chat.keywords %>
</p>

<p>
  <b>Chat:</b>
  <%= @chat.chat %>
</p>

<p>
  <b>Screenshots:</b>
  <%= @chat.screenshots %>
</p>

<p>
  <b>Date of chat:</b>
  <%= @chat.date_of_chat %>
</p>


<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
