

<%= javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js" %>


<script type="text/javascript">
    var pusher1 = new Pusher('1295f5b9b5137f04288e'); // Replace with your app key
    var channel1 = pusher1.subscribe('cc-new-chat-channel');
    //alert(pusher1);
    channel1.bind('customer-call-event', function(data) {
        alert('You have a new incoming chat from: ' + data.user_id);
        $('#chat_table tr:last').after('<tr><td><a href="/agents/join_chat?chat_id='+data.chat_id+'">Chat Id: '+data.chat_id+'</a></td></tr>');
    });

    pusher1.connection.bind('state_change', function(states) {
        // states = {previous: 'oldState', current: 'newState'}
        $('div#status').text("System online status: " + states.current);
    });
</script>

<div id="status" >
  OFFLINE
</div>

<br/>

<table id="chat_table" class="table table-bordered">
  <tbody>
  <tr></tr>
  </tbody>
</table>


<%  if @chat != nil %>

<script type="text/javascript">
    // Set the globals used by chat.js
    channel = "<%= @chat.channel %>";
    chat_id = "<%= @chat.id %>";
    user_id = "<%= @user.id %>";
</script>



<div id="wrapper">
  <div class="header">
    <div id="title" class="member_list_title">Pusher Chat (<span id="room_count">0</span>)</div>
    <a href="#" id="editFirstname">Change Name</a>
    <input type="text" value="<%= @user.first_name %>" id="first_name" />
    <a href="#" id="saveFirstname">Save</a>
    <a class="right tiptip" href="#" title="<b>How to Invite...</b><br />Simple share the URL of this page with anybody else to invite them to the chatter!">Invite</a>
    <span id="loading"></span>
  </div>
  <ul id="messages">
    <% @messages.each do |message| %>
        <% user = ChatUser.find(message.user_id) %>
        <li<% if user.id == @user.id %> class="you"<% end %>><strong><%= user.first_name %></strong> said:<br><%= auto_link_urls(message.message, { :target => "_blank" }) %></li>
    <% end %>
  </ul>
  <div id="message-overlay"></div>
  <textarea disabled="disabled" id="message" name="message">Type your message here and hit enter...</textarea>
</div>

<% end %>