

<%= javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js" %>

<link rel="stylesheet" href="reveal.css">

<script src="jquery.reveal.js" type="text/javascript"></script>


<script type="text/javascript">
    var pusher1 = new Pusher('1295f5b9b5137f04288e'); // Replace with your app key
    var channel1 = pusher1.subscribe("<%= @channel_name %>");

    channel1.bind('customer-call-event', function(data) {
        alert('You have a new incoming chat from: ' + data.customer_name);
        $('#chat_list li:last').after('<li class="active"><a href="/agents/join_chat?chat_id='+data.chat_id+'&customer_id='+data.customer_id+'">Chat from: '+data.customer_name+'</a></li>');
    });

    pusher1.connection.bind('state_change', function(states) {
        // states = {previous: 'oldState', current: 'newState'}
        $('span#status').text(states.current);
    });
</script>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <span class="brand" ><%= @agent.business.biz_name %></span>
      <div class="navbar-content">
        <ul class="nav">
          <li>
            <!-- sign out button -->
            <%= link_to 'Sign Out', destroy_agent_session_path, :method => :delete %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">

      <h3>Welcome <%= @agent.first_name %></h3>

      <div class="well">
        <table> <tr><td>System status:</td>
          <td><span class="label label-success" id="status"></span></td>
        </tr>
        </table>
        <br>
        <ul class="nav  nav-pills nav-stacked" id="chat_list">
          <li>
            <% if @show_waiting == true %>
                <h4 id="waiting" style="color: blue;">Waiting for Chats</h4>
            <% end %>
          </li>
        </ul>
      </div>

    </div>
    <div class="span6">

        <div class="well" id="chat_interface" style="text-align: center;">

          <!--pusher-->

          <%  if @chat != nil %>

              <script type="text/javascript">
                  // Set the globals used by chat.js
                  channel = "<%= @chat.channel %>";
                  chat_id = "<%= @chat.id %>";
                  user_id = "<%= @user.id %>";
              </script>

              <div id="wrapper">
                <div>
                  <div id="title" style="text-align: center;"><h4><%= @agent.business.biz_name %></h4></div>
                  <span id="loading"></span>
                </div>
                <ul id="messages" style='text-align: left; color: black;'>
                  <% @messages.each do |message| %>
                      <% user = ChatUser.find(message.user_id) %>
                      <li<% if user.id == @user.id %> class="you"<% end %>><h6><strong><%= user.first_name %></strong> said:<br><%= auto_link_urls(message.message, { :target => "_blank" }) %></h6></li>
                  <% end %>
                </ul>
                <div id="message-overlay"></div>
                <textarea disabled="disabled" id="message" name="message">Type your message here and hit enter...</textarea>
              
              </div>
              
			<a class="btn btn-small btn-danger" href="javascript:endChat('<%= @agent.first_name %>', 'agent')"><span class="btn-label">End Chat</span></a>
			
          <% else %>

          <h1 style="text-align: center;"> <%= @agent.business.biz_name %> </h1>

         <% end %>

          <!--pusher-->

        </div>

    </div>

    <div class="span4">

      <%  if @chat != nil %>

          <div class="well">
            <h3>Phrases
              <br>
            </h3>
            <div class="well">
              <ul>
                <% @phrases.each do |phrase| %>
                    <li><p><a href="javascript:addPhrase('<%= phrase.phrase %>')"><%= phrase.phrase %></a></p></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="well">
            <h3><a href="#" data-reveal-id="chat_history_modal">View Chat History</a>
              <br>
            </h3>
          </div>
          <div class="well">
            <h3><a href="#" data-reveal-id="shared_files_modal">View Shared Files</a>
              <br>
            </h3>
          </div>

      <% end %>

    </div>



  </div>
</div>
<script src="https://app.divshot.com/js/bootstrap.min.js"></script>

<div id="chat_history_modal" class="reveal-modal">
  <h1>Chat History</h1>
  <h6>
    <% if @chat_history_messages !=nil %>
      <ul>
        <% @chat_history_messages.each do |chat, chat_messages| %>
            <br/>
            <h4>Chat: <%= chat %></h4>
            <% chat_messages.each do |msg| %>
                <li><%=raw msg.message %></li>

            <% end %>
        <% end %>
      </ul>
  <% else %>
      <p> Chat history of customers </p>
  <% end %>
  </h6>
  <a class="close-reveal-modal">&#215;</a>
</div>


<div id="shared_files_modal" class="reveal-modal">
  <h1>Shared Files</h1>
  <h6>
  <ul>
    <% if !@file_messages.nil? %>
        <% @file_messages.each do |file_message| %>
            <li><%=raw file_message.message %></li>
        <% end %>
    <% else %>
        <p>No Files Shared</p>
    <% end %>
  </ul>
  </h6>
  <a class="close-reveal-modal">&#215;</a>
</div>

<br/>
<br/>

