

<%= javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js" %>


<script type="text/javascript">
    var pusher1 = new Pusher('1295f5b9b5137f04288e'); // Replace with your app key
    var channel1 = pusher1.subscribe("<%= @channel_name %>");
    //alert(pusher1);
    channel1.bind('customer-call-event', function(data) {
        alert('You have a new incoming chat from: ' + data.customer_name);
        $('#chat_list li:last').after('<li class="active"><a href="/agents/join_chat?chat_id='+data.chat_id+'&customer_id='+data.customer_id+'">Chat from: '+data.customer_name+'</a></li>');
    });

    pusher1.connection.bind('state_change', function(states) {
        // states = {previous: 'oldState', current: 'newState'}
        $('span#status').text(states.current);
    });
</script>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <span class="brand" ><%= @agent.business.biz_name %></span>
      <div class="navbar-content">
        <ul class="nav">
          <li>
            <a href="#">Help</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well">
        <table> <tr><td>System status:</td>
          <td><span class="label label-success" id="status"></span></td>
        </tr>
        </table>
        <br>
        <ul class="nav  nav-pills nav-stacked" id="chat_list">
          <li>
          	<% if @show_waiting == true %>
            	<h4 id="waiting" style="color: blue;">Waiting for Chats</h4>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="span9">

      <div class="well">


        <h3>Welcome <%= @agent.first_name %></h3>

        <div class="well">

          <!--pusher-->


          <%  if @chat != nil %>

              <script type="text/javascript">
                  // Set the globals used by chat.js
                  channel = "<%= @chat.channel %>";
                  chat_id = "<%= @chat.id %>";
                  user_id = "<%= @user.id %>";
              </script>

              <div id="wrapper">
                <div class="header">
                  <div id="title" class="member_list_title">Helpr (<span id="room_count">0</span>)</div>
                  <span id="loading"></span>
                </div>
                <ul id="messages">
                  <% @messages.each do |message| %>
                      <% user = ChatUser.find(message.user_id) %>
                      <li<% if user.id == @user.id %> class="you"<% end %>><strong><%= user.first_name %></strong> said:<br><%= auto_link_urls(message.message, { :target => "_blank" }) %></li>
                  <% end %>
                </ul>
                <div id="message-overlay"></div>
                <textarea disabled="disabled" id="message" name="message">Type your message here and hit enter...</textarea>
              </div>

          <% end %>

          <!--pusher-->

        </div>
        <div class="row-fluid">
          <div class="span4">
            <h2>Phrases</h2>
            <ul>
            	<% @phrases.each do |phrase| %>
            		<li><%= phrase.phrase %></li>
            	<% end %>
            </ul>
          </div>
          <div class="span4">
            <h2>History</h2>
            <% if @chat_history_messages !=nil %>
                <ul>
                  <% @chat_history_messages.each do |chat, chat_messages| %>
                             <br/>
                      <strong>Chat: <%= chat %></strong>
                      <% chat_messages.each do |msg| %>
                          <li><%= msg.message %></li>

                      <% end %>
                  <% end %>
                </ul>
            <% else %>
                <p> Chat history of customers </p>
            <% end %>
            <a class="btn" href="#"><span class="btn-label">View Details</span></a>
          </div>
          <div class="span4">
            <h2>Screenshots</h2>
            <ul>
            	
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://app.divshot.com/js/bootstrap.min.js"></script>

<br/>
<br/>
