<h1>Listing agents</h1>

<table>
  <tr>
    <th>Business</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Username</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agents.each do |agent| %>
  <tr>
    <td><%= agent.business_id %></td>
    <td><%= agent.first_name %></td>
    <td><%= agent.last_name %></td>
    <td><%= agent.username %></td>
    <td><%= agent.password %></td>
    <td><%= link_to 'Show', agent %></td>
    <td><%= link_to 'Edit', edit_agent_path(agent) %></td>
    <td><%= link_to 'Destroy', agent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agent', new_agent_path %>
