<p id="notice"><%= notice %></p>

<p>
  <b>Business:</b>
  <%= @agent.business_id %>
</p>

<p>
  <b>First name:</b>
  <%= @agent.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @agent.last_name %>
</p>

<p>
  <b>Username:</b>
  <%= @agent.username %>
</p>

<p>
  <b>Password:</b>
  <%= @agent.password %>
</p>


<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
