<div class="container-fluid">
	<div class="row-fluid" style="text-align: center;">
		<h3>~ Your Company has <%= @agents.size %> Agents ~</h3>
	</div>
	
	<div class="row-fluid">
		<div class="span1">&nbsp;</div>
		
		<div class="span10">
			<% if @agents.size > 0 %>

				<!-- table showing all agents -->
				<table class="table table-striped">
					<thead>
						<tr>
							<th><u>Last Name</u></th>
							<th><u>First Name</u></th>
							<th><u>Email</u></th>
							<th></th>
						</tr>
					</thead>
					<!-- loop through agents -->
					<% @agents.each do |agent| %>
		     		<tr> 
						<!-- name -->
						<td><%= agent.last_name %></td>
						<td><%= agent.first_name %></td>
						<!-- email -->
						<td><%= agent.email %></td>
						<!-- link to delete the agent -->
						<td>
						<%= link_to(agent, { :confirm => "Are you sure?", :method => :delete }) do %>
							<button class="btn btn-danger">
								<i class="icon-trash icon-white"></i>
								<span class="white-text"> Delete</span>
							</button>
						<% end %>
						</td>
					</tr>
					<% end %>
				</table>
				
			<% end %>
		</div>
		
		<div class="span1">&nbsp;</div>
	</div>
	<div class="row-fluid">
		<div class="span1">&nbsp;</div>
		<div class="span11">
			<%= link_to(admin_path(current_admin)) do %>
				<button class="btn btn-primary">
					<i class="icon-home icon-white"></i><span class="white-text"> Home </span>
				</button>
			<% end %>
				&nbsp;
			<%= link_to(new_agent_registration_path) do %>
				<button class="btn btn-primary">
					<i class="icon-plus-sign icon-white"></i><span class="white-text"> New Agent </span>
				</button>
			<% end %>
		</div>
	</div>
</div>
