<div class="container">
  <div class="row">
    <div class="span3 center" style="float: none;  margin: 0 auto; padding: 10px; padding-bottom: 0px; border: 1px solid #ccc;">

      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div class="control-group">
            <%= f.label :email, :class => "control-label" %>
            <div class="controls">
              <%= f.email_field :email %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :password, :class => "control-label" %>
            <div class="controls">
              <%= f.password_field :password %>
            </div>
          </div>

          <div class="control-group">
            <%= f.label :remember_me, :class => "control-label" %>
            <div class="controls">
              <%= f.check_box :remember_me %>
            </div>
          </div>

          <%= f.submit "Sign in", :class => "btn btn-primary" %>

      <% end %>
    </div>
  </div>
</div>


