<!DOCTYPE html>
<html>
<head>
  <title>Helpr</title>

  <meta http-equiv="Cache-Control" content="private, no-store, max-age=0, no-cache, must-revalidate, post-check=0, pre-check=0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="Fri, 01 Jan 1990 00:00:00 GMT">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" charset="utf-8">
      var PUSHER_KEY = '<%= Pusher.key %>'
  </script>

  <!--divshot-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <link rel="stylesheet" href="https://app.divshot.com/css/divshot-util.css">

  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36413065-1']);
      _gaq.push(['_setDomainName', 'herokuapp.com']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>

</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<div id="footer">
  <p>Pusher Chat is proudly powered by <a href="http://pusherapp.com/" target="_blank">Pusher App</a>. Created by <a href="http://tarnfeld.com/" target="_blank">Tom Arnfeld</a>.</p>
</div>


</body>
</html>
